<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  
  <!-- <link rel='stylesheet' href="{% static 'css/index.css' %}" /> -->
  <link rel='stylesheet' href="{% static 'css/reactify-django.ui.css' %}" />
  <!-- <script src='{% static 'bootstrap/dist/css/bootstrap.min.css' %}'></script> -->
  <title>Assignment</title>
</head>

<body id="custom-body">
  <div>
    {% block content %}
    {% endblock content %}
  </div>
  <script src="{% static 'js/main1.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> -->
</body>

</html>